@import "tailwindcss";


@font-face {
  font-family: 'DeterminationMono';
  src: url('./assets/fonts/determination-extended.ttf') format('truetype');
}

.main-body {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'DeterminationMono', monospace;
  color: #00ff00;
  letter-spacing: 1px;
  font-size: 24px;
  user-select: none;
}


